#header-desktop{
    display: none;
}
.logo {
  width: 200px;
}
#header-mobile-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#burger-icon {
  position: relative;
  top: 30px;
}
#header-nav a{
    color: #777;
    display: block;
    text-decoration: none;
    margin-bottom: 15px
}
#header-nav a:hover{
    color: #272727
}
#logout-btn{
    background-color: #272727;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 28px;
    margin-top: 30px;
    padding: 8px 0
}
#logout-btn:hover{
    cursor: pointer;
}


@media(min-width:1200px){
    #header-mobile{
        display: none
    }
    #header-desktop{
        display: block;
    }
    #header-desktop-container{
        display: flex;
        justify-content: space-evenly;
    }
    #header-nav ul a{
        display: inline-block;
        position: relative;
        top: 25px;
        left: 80px;
        padding: 0 20px 
    }
}
